{% extends 'base.html' %}
{% load staticfiles %}
{% load main_extras %}
{% block title %} Dashboard {% endblock %}
{% block main_page_title %} Dashboard {% endblock %}
{% block main_page %}
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Presiding Officers</span>
                  <span class="info-box-number">{{ received_evm }} <small>Registered</small></span>
                  <span class="info-box-number">{{ received_evm }} <small>Online</small></span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-android-done-all"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Overall Poll</span>
                  <span class="info-box-number">90<small>%</small></span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Received EVM</span>
                  <span class="info-box-number">{{ received_evm }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Poll Started</span>
                  <span class="info-box-number">{{ poll_starts }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Poll Ended</span>
                  <span class="info-box-number">{{ poll_ends }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Sealed EVM</span>
                  <span class="info-box-number">{{ sealed_evm }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Reached DC</span>
                  <span class="info-box-number">{{ reached_dc }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" id="donut-example" style="height: 200px;"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Presiding Officer Status</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Polling Station</th>
                                    <th>Vote %age</th>
                                    <th>Received EVM</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Reached Polling Station</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Sealed EVM</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Received Release</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Poll Starts</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Poll Ends</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Reached DC</th>
                                    <!-- <th>Timestamp</th> -->
                                </tr>
                            </thead>
                           
                            <tbody>
                            	{% for k in all %}
                                <tr>
                                    <td>{{ k.presiding_officer.username }}</td>
                                    <td>{{k.presiding_officer.full_name}}</td>
                                    <td>{{k.presiding_officer.polling_station.name}}</td>
                                    <td>{% current_vote_percentage k.presiding_officer.polling_station %}%</td>
									{% if k.received_evm %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok " style = "color:green; vertical-align:middle" ></span><br>{{k.received_evm_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}
									{% if k.reached_polling_station %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.reached_polling_station_timestamp}}</span></td>
									{% else %}
										<td></td>
									{% endif %}
									
									{% if k.sealed_evm %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.sealed_evm_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}
									
									{% if k.received_release %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.received_release_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}
									
									{% if k.poll_starts %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.poll_starts_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}
 
									{% if k.poll_ends %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.poll_ends_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}
									
									{% if k.reached_dc %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.reached_dc_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}
									

	
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Polling Station</th>
                                    <th>Vote %age</th>
                                    <th>Received EVM</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Reached Polling Station</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Sealed EVM</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Received Release</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Poll Starts</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Poll Ends</th>
                                    <!-- <th>Timestamp</th> -->
                                    <th>Reached DC</th>
                                    <!-- <th>Timestamp</th> -->
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Locations of Presiding Officers</h3>
                    </div><!-- /.box-header -->
                    <div id="map" class="box-body table-responsive" style="height:500px;">
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Polling Station Status</h3>
                    </div><!-- /.box-header -->
                    <div  class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Polling Station</th>                                   
                                    <th>Total Voters</th>
                                    <th>Current Voters</th>
                                    <th>Percentage</th>
                                    <th>Reported Time</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                            	{% for k in up %}
                                <tr>
                                    <td>{{k.polling_station.name}}</td>
                                    <td>{{k.polling_station.total_voters}}</td>
                                    <td>{{k.current_votes}}</td>
                                    <td>{% get_percentage k.polling_station.total_voters k.current_votes %}</td>
                                    <td>{{k.timestamp|time:"h A"}}</td>
	
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Polling Station</th>                                   
                                    <th>Total Voters</th>
                                    <th>Current Voters</th>
                                    <th>Percentage</th>
                                    <th>Reported Time</th>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>


{% endblock %}

{% block page_js %}

<script type="text/javascript">
	  Morris.Donut({
  element: 'donut-example',
  data: [
    {label: "Good", value: {{good}}},
    {label: "OK", value: {{ok}}},
    {label: "Bad", value: {{bad}}}
  ]
});

</script>

	<script type="text/javascript">
    	$(document).ready(function() {
                $("#example1").DataTable();
                $("#example2").DataTable();
        });             
    </script>

     <script>


	function initMap() {
	  var myLatLng = {lat: 24.5, lng: 92.5};

	  var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 8,
	    center: myLatLng
	  });


		{% for k in all %}
		  var a = {% get_current_location k.presiding_officer %};
		  myLatLng = { lat: a[0] , lng: a[1] };
		  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading">{{k.presiding_officer.polling_station.name}}</h3>'+
      '<div id="bodyContent">'+
      '<p><b>Presiding Officer : </b> {{k.presiding_officer.full_name}}' +
      '<br/><b>Total Voters : </b> {{k.presiding_officer.polling_station.total_voters}}' +
      '<br/><b>Current Voters : </b> {% current_voters k.presiding_officer.polling_station %}' +
      '<br/><b>Current Voting %age : </b> {% current_vote_percentage k.presiding_officer.polling_station %}' +
      '</p>'+
      '</div>'+
      '</div>';
      var infowindow = new google.maps.InfoWindow({
            content: contentString
      });
		  var marker = new google.maps.Marker({
		    position: myLatLng,
		    map: map,
		    title: '{{k.presiding_officer.full_name}} ({{k.presiding_officer.polling_station.name}})'
		  });
          marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
        {% endfor %}
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAteM4P82ZpVfZHUA-greFhVVphVI9UcI0&signed_in=true&callback=initMap"></script>



{% endblock %}