{% extends 'base.html' %}
{% load staticfiles %}
{% load main_extras %}
{% block title %} Dashboard {% endblock %}
{% block main_page_title %} Dashboard {% endblock %}
{% block main_page %}

        <div class="row">
            <a href= "/presiding-officer/view/" class="no-deco">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Total Presiding Officers</span>
                  <span class="info-box-number"> {{ presiding_officer_no }}</span>
                  <!-- <span class="info-box-number">{{ received_evm }} <small>Online</small></span> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            </a>

            <a href= "/presiding-officer/view/?sortBy=loggedIn" class="no-deco">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion-android-happy"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Active Presiding Officers</span><small>(Logged-in at least once)</small>
                  <span class="info-box-number">{{ active_po }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            </a>
            <a href= "/presiding-officer/view/?sortBy=notLoggedIn" class="no-deco">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion-android-sad"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Inactive Presiding Officers</span><small>(Never logged-in)</small>
                  <span class="info-box-number">{{ inactive_po }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            </a>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-orange"><i class="ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Received EVM</span>
                  <span class="info-box-number">{{ received_evm }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-fuchsia"><i class="ion-paper-airplane"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Reached Polling Station</span>
                  <span class="info-box-number">{{ reached_polling_station }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-erlenmeyer-flask"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Mock Poll Completed</span>
                  <span class="info-box-number">{{ mock_poll }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-olive"><i class="ion ion-flash"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Poll Started</span>
                  <span class="info-box-number">{{ poll_starts }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="ion ion-flash-off"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Poll Ended</span>
                  <span class="info-box-number">{{ poll_ends }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

             <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-maroon"><i class="ion ion-android-walk"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Reached Strongroom</span>
                  <span class="info-box-number">{{ reached_dc }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-purple"><i class="ion ion-cube"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Submitted EVM</span>
                  <span class="info-box-number">{{ sealed_evm }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Polling Station Condition</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div id="donut-example" style="position: relative; height: 300px;"></div>
                    </div><!-- /.box-body -->
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Overall Poll Percentage</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div style="line-height:3em; text-align:center; font-size:6em; position: relative; height: 300px;">{{ percentage }} %</div>
                    </div><!-- /.box-body -->
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Vote %age - Time Chart</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div id="line_chart" style="position: relative; height: 300px;"></div>
                    </div><!-- /.box-body -->
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Presiding Officer Status</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Polling Station</th>
                                    <th>Vote %age</th>
                                    <th>Received EVM</th>
                                    <th>Reached Polling Station</th>
                                    <th>Completed Mock Poll</th>
                                    <th>Poll Started</th>
                                    <th>Poll Ended</th>
                                    <th>Reached Strong Room</th>
                                    <th>Submitted EVM</th>
                                    <th>Received Release</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                            	{% for k in all %}
                                <tr>
                                    <td><a href = "{% url 'PresidingOfficerView' pk=k.presiding_officer.id %}" >{{k.presiding_officer.full_name}}</a></td>
                                    <td><a href = "{% url 'PollingStationView' ps_id=k.presiding_officer.polling_station.id %}" >{{k.presiding_officer.polling_station.name}}</a></td>
                                    <td>{{ ps_percentage|get_item:k.presiding_officer.polling_station.unique_id }}%</td>
									{% if k.received_evm %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok " style = "color:green; vertical-align:middle" ></span><br>{{k.received_evm_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}
									{% if k.reached_polling_station %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.reached_polling_station_timestamp}}</span></td>
									{% else %}
										<td></td>
									{% endif %}


									{% if k.mock_poll_ends %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.mock_poll_ends_timestamp }}</td>
									{% else %}
										<td></td>
									{% endif %}



									{% if k.poll_starts %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.poll_starts_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}

									{% if k.poll_ends %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.poll_ends_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}


									{% if k.reached_dc %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.reached_dc_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}

                                      {% if k.sealed_evm %}
                                      <td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.sealed_evm_timestamp}}</td>
                                      {% else %}
                                        <td></td>
                                      {% endif %}

                                      {% if k.received_release %}
                                      <td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.received_release_timestamp}}</td>
                                      {% else %}
                                        <td></td>
                                      {% endif %}




                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Polling Station</th>
                                    <th>Vote %age</th>
                                    <th>Received EVM</th>
                                    <th>Reached Polling Station</th>
                                    <th>Completed Mock Poll</th>
                                    <th>Poll Started</th>
                                    <th>Poll Ended</th>
                                    <th>Reached Strong Room</th>
                                    <th>Submitted EVM</th>
                                    <th>Received Release</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Location of Presiding Officers</h3>
                    </div><!-- /.box-header -->
                    <div id="map" class="box-body table-responsive" style="height:600px;">
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Polling Station Status</h3>
                    </div><!-- /.box-header -->
                    <div  class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Polling Station</th>                                   
                                    <th>Total Voters</th>
                                    <th>Current Voters</th>
                                    <th>Percentage</th>
                                    <th>Reported Time</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                            	{% for k in up %}
                                <tr>
                                    <td>{{k.polling_station.name}}</td>
                                    <td>{{k.polling_station.total_voters}}</td>
                                    <td>{{k.current_votes}}</td>
                                    <td>{% get_percentage k.polling_station.total_voters k.current_votes %}</td>
                                    {% if k.time_field == 1 or k.time_field == 3 or k.time_field == 5 or k.time_field == 6 %}
                                      <td>{{k.time_field}} PM</td>
                                    {% elif k.time_field == 9 or k.time_field == 11 %}
                                      <td>{{k.time_field}} AM</td>
                                    {% else %}
                                      <td></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Polling Station</th>                                   
                                    <th>Total Voters</th>
                                    <th>Current Voters</th>
                                    <th>Percentage</th>
                                    <th>Reported Time</th>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>


{% endblock %}

{% block page_js %}

<script type="text/javascript">
  //Polling Station Condition Pie-Chart
  Morris.Donut({
              element: 'donut-example',
              colors: ["#00a65a", "#3c8dbc", "#f56954"],
              data: [
                {label: "Good", value: {{good}}},
                {label: "Normal", value: {{ok}}},
                {label: "Bad", value: {{bad}}}
              ]
            });
  // Vote %age - Time Line Chart
    var line = new Morris.Line({
      element: 'line_chart',
      resize: true,
      data: [
        {y: '2015-04-04 09:00', item1: {{total_9}} },
        {y: '2015-04-04 11:00', item1: {{total_11}} },
        {y: '2015-04-04 13:00', item1: {{total_1}} },
        {y: '2015-04-04 15:00', item1: {{total_3}} },
        {y: '2015-04-04 17:00', item1: {{total_5}} },
        {y: '2015-04-04 18:00', item1: {{total_last}} }
      ],
      xkey: 'y',
      ykeys: ['item1'],
      labels: ['Voting %age'],
      lineColors: ['#3c8dbc'],
      hideHover: 'auto'
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAteM4P82ZpVfZHUA-greFhVVphVI9UcI0&signed_in=true"></script>
	<script type="text/javascript">
    	$(document).ready(function() {
                $("#example1").DataTable({
                    "order": [[ 2, "desc" ]]
                });
                $("#example2").DataTable({
                    "order": [[ 4, "desc" ]]
                });
        });

        var map;
        var infowindow;
        var locations = {};
        var i = 0;
        var loc_size;
        {% for k in po_locations %}
            var a = [ {{ k.latitude  }}, {{ k.longitude }} ]
            if(a[0] != 0.0 && a[1] != 0.0){
                var title = '{{k.presiding_officer.full_name}} ({{k.presiding_officer.polling_station.name}})';
                var contentString = '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h3 id="firstHeading" class="firstHeading">{{k.presiding_officer.polling_station.name}}</h3>'+
                    '<div id="bodyContent">'+
                    '<p><b>Presiding Officer : </b> {{k.presiding_officer.full_name}}' +
                    '<br/><b>Total Voters : </b> {{k.presiding_officer.polling_station.total_voters}}' +
                    '<br/><b>Current Voters : </b> {{ ps_cv|get_item:k.presiding_officer.polling_station.unique_id }}' +
                    '<br/><b>Current Voting %age : </b> {{ ps_percentage|get_item:k.presiding_officer.polling_station.unique_id }}%' +
                    '</p>'+
                    '</div>'+
                    '</div>';

                locations[i] = [title, contentString, a[0], a[1], i]
                i++;
            }
        {% endfor %}
        loc_size = i;
        if(loc_size > 0)
            var origin = new google.maps.LatLng(locations[0][2], locations[0][3]);
        else
            var origin = new google.maps.LatLng(24.5, 92.5);

        function initMap(){
            var mapOptions = {
                zoom: 11,
                center: origin
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            infowindow = new google.maps.InfoWindow();
            for(i=0; i<loc_size; i++){
                var position = {lat: locations[i][2], lng: locations[i][3]};
                var title = locations[i][0];
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: title
                });
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(locations[i][1]);
                        infowindow.setOptions({maxWidth: 200});
                        infowindow.open(map, marker);
                    }
                }) (marker, i));
            }
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>



{% endblock %}