{% extends 'base.html' %}
{% load staticfiles %}
{% load main_extras %}
{% block title %} Dashboard {% endblock %}
{% block main_page_title %} Dashboard {% endblock %}
{% block main_page %}

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Total Presiding Officers</span>
                  <span class="info-box-number"> {{ presiding_officer_no }}</span>
                  <!-- <span class="info-box-number">{{ received_evm }} <small>Online</small></span> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-android-done-all"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Overall Poll</span>
                  <span class="info-box-number">{{ percentage }}<small>%</small></span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Active Presiding Officers</span>
                  <span class="info-box-number">{{ device_key }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Mock Poll Completed</span>
                  <span class="info-box-number">{{ mock_poll }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Poll Started</span>
                  <span class="info-box-number">{{ poll_starts }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Poll Ended</span>
                  <span class="info-box-number">{{ poll_ends }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Sealed EVM</span>
                  <span class="info-box-number">{{ sealed_evm }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Reached Strongroom</span>
                  <span class="info-box-number">{{ reached_dc }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" id="donut-example" style="height: 250px;"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Presiding Officer Status</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>EVM</th>
                                    <th>Name</th>
                                    <th>Polling Station</th>
                                    <th>Vote %age</th>
                                    <th>Received EVM</th>
                                    <th>Reached Polling Station</th>
                                    <th>Completed Mock Poll</th>
                                    <th>Poll Start</th>
                                    <th>Poll Ends</th>
                                    <th>Sealed EVM</th>
                                    <th>Received Release</th>
                                    <th>Reached StrongRoom</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                            	{% for k in all %}
                                <tr>
                                    <td>{{ k.presiding_officer.username }}</td>
                                    <td>{{k.presiding_officer.full_name}}</td>
                                    <td>{{k.presiding_officer.polling_station.name}}</td>
                                    <!-- TODO remove below query causing delay in response -->
                                    <td>{% ps_percentage[k.presiding_officer.polling_station.id] %}%</td>
									{% if k.received_evm %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok " style = "color:green; vertical-align:middle" ></span><br>{{k.received_evm_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}
									{% if k.reached_polling_station %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.reached_polling_station_timestamp}}</span></td>
									{% else %}
										<td></td>
									{% endif %}


									{% if k.mock_poll_ends %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.mock_poll_ends_timestamp }}</td>
									{% else %}
										<td></td>
									{% endif %}



									{% if k.poll_starts %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.poll_starts_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}

									{% if k.poll_ends %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.poll_ends_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}

                  {% if k.sealed_evm %}
                  <td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.sealed_evm_timestamp}}</td>
                  {% else %}
                    <td></td>
                  {% endif %}

                  {% if k.received_release %}
                  <td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.received_release_timestamp}}</td>
                  {% else %}
                    <td></td>
                  {% endif %}

									{% if k.reached_dc %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{k.reached_dc_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}



                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>EVM</th>
                                    <th>Name</th>
                                    <th>Polling Station</th>
                                    <th>Vote %age</th>
                                    <th>Received EVM</th>
                                    <th>Reached Polling Station</th>
                                    <th>Completed Mock Poll</th>
                                    <th>Poll Start</th>
                                    <th>Poll Ends</th>
                                    <th>Sealed EVM</th>
                                    <th>Received Release</th>
                                    <th>Reached Strongroom</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Location of Presiding Officers</h3>
                    </div><!-- /.box-header -->
                    <div id="map" class="box-body table-responsive" style="height:500px;">
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Polling Station Status</h3>
                    </div><!-- /.box-header -->
                    <div  class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Polling Station</th>                                   
                                    <th>Total Voters</th>
                                    <th>Current Voters</th>
                                    <th>Percentage</th>
                                    <th>Reported Time</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                            	{% for k in up %}
                                <tr>
                                    <td>{{k.polling_station.name}}</td>
                                    <td>{{k.polling_station.total_voters}}</td>
                                    <td>{{k.current_votes}}</td>
                                    <td>{% get_percentage k.polling_station.total_voters k.current_votes %}</td>
                                    {% if k.time_field == 1 or k.time_field == 3 or k.time_field == 5 %}
                                      <td>{{k.time_field}} PM</td>
                                    {% elif k.time_field == 9 or k.time_field == 11 %}
                                      <td>{{k.time_field}} AM</td>
                                    {% elif k.time_field == 0 %}
                                      <td>6 PM</td>
                                    {% else %}
                                      <td></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Polling Station</th>                                   
                                    <th>Total Voters</th>
                                    <th>Current Voters</th>
                                    <th>Percentage</th>
                                    <th>Reported Time</th>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>


{% endblock %}

{% block page_js %}

<script type="text/javascript">
	  Morris.Donut({
  element: 'donut-example',
  colors: ["#00a65a", "#3c8dbc", "#f56954"],
  data: [
    {label: "Polling Station Condition\nGood", value: {{good}}},
    {label: "Polling Station Condition\nOk", value: {{ok}}},
    {label: "Polling Station Condition\nBad", value: {{bad}}}
  ]
});

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAteM4P82ZpVfZHUA-greFhVVphVI9UcI0&signed_in=true"></script>
	<script type="text/javascript">
    	$(document).ready(function() {
                $("#example1").DataTable();
                $("#example2").DataTable();
        });

        var map;
        var infowindow;
        var locations = {};
        var i = 0;
        var loc_size;
        {% for k in po_locations %}
            var a = {% get_current_location k.presiding_officer %};
            if(a[0] != 0.0 && a[1] != 0.0){
                var title = '{{k.presiding_officer.full_name}} ({{k.presiding_officer.polling_station.name}})';
                var contentString = '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h3 id="firstHeading" class="firstHeading">{{k.presiding_officer.polling_station.name}}</h3>'+
                    '<div id="bodyContent">'+
                    '<p><b>Presiding Officer : </b> {{k.presiding_officer.full_name}}' +
                    '<br/><b>Total Voters : </b> {{k.presiding_officer.polling_station.total_voters}}' +
                    '<br/><b>Current Voters : </b> {% ps_cv[k.presiding_officer.polling_station.id] %}' +
                    '<br/><b>Current Voting %age : </b> {% ps_percentage[k.presiding_officer.polling_station.id] %}%' +
                    '</p>'+
                    '</div>'+
                    '</div>';

                locations[i] = [title, contentString, a[0], a[1], i]
                i++;
            }
        {% endfor %}
        loc_size = i;
        if(loc_size > 0)
            var origin = new google.maps.LatLng(locations[0][2], locations[0][3]);
        else
            var origin = new google.maps.LatLng(24.5, 92.5);

        function initMap(){
            var mapOptions = {
                zoom: 11,
                center: origin
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            infowindow = new google.maps.InfoWindow();
            for(i=0; i<loc_size; i++){
                var position = {lat: locations[i][2], lng: locations[i][3]};
                var title = locations[i][0];
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: title
                });
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(locations[i][1]);
                        infowindow.setOptions({maxWidth: 200});
                        infowindow.open(map, marker);
                    }
                }) (marker, i));
            }
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>



{% endblock %}