{% extends 'base.html' %}
{% load staticfiles %}
{% load main_extras %}
{% block title %} Message Center {% endblock %}
{% block main_page_title %} Message Center - Inbox {% endblock %}
{% block main_page %}
          <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Inbox</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Polling Station</th>
                                    <th>Solved</th>
                                    <th>Message</th>
                                    <th>Condition</th>
                                    <th>Image</th>
                                    <th>Timestamp</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for s in sos_messages %}
                            	<tr>
                                    <td>{{ s.id }}</td>
                                    <td><a href = "{% url 'PollingStationView' ps_id=s.polling_station.id %}" >{{ s.polling_station.name }}</a></td>
                                    <td>
                                        {% if s.solved %}
                                            Solved
                                        {% else %}
                                            Not Solved
                                        {% endif %}
                                    </td>
                                    <td>{{ s.message }}</td>
                                    <td>
                                        {% if s.condition %}
                                            {{ s.get_condition_display }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.image %}
                                            <a href="{{ MEDIA_URL }}{{ s.image }}" target="_blank">View Image</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ s.timestamp }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->

{% endblock %}

{% block page_js %}
    <script type="text/javascript">
    	$(document).ready(function() {
                $("#example1").DataTable({
                    "order": [[ 0, "desc" ]]
                });
        });
    </script>
{% endblock %}