{% extends 'base.html' %}
{% load staticfiles %}
{% load main_extras %}
{% block title %} Message Center {% endblock %}
{% block main_page_title %} Message Center - Compose {% endblock %}
{% block page_css %}
    <!-- Select2 CSS - Awesomeness Redefined -->
    <link rel="stylesheet" href="{% static 'main/css/select2.min.css' %}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static 'main/css/icheck.blue.min.css' %}">
{% endblock %}
{% block main_page %}

          <form role="form" method="post" action="{% url 'MessageCompose' %}">
           {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Compose New Message</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                   <div class="form-group">
                    <select name="presiding_officers[]" class="form-control select2" multiple="multiple" data-placeholder="Select a Presiding Officer(s)" style="width: 100%;">
                      {% for ps in presiding_officers %}
                        <option value="{{ ps.id }}">{{ ps.username }} - {{ ps.full_name }} - {{ ps.polling_station.unique_id }} - {{ ps.polling_station.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                      <input type="radio" name="r1" class="form-control minimal"> Select All &nbsp;
                      <input type="radio" name="r1" class="form-control minimal"> Select Not Logged In &nbsp;
                      <input type="radio" name="r1" class="form-control minimal"> Unselect All &nbsp;
                  </div>
                  <div class="form-group">
                    <textarea name="message" class="form-control" style="height: 300px">Your message here!</textarea>
                  </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
                  </div>
                </div><!-- /.box-footer -->
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
          </form>

{% endblock %}
{% block page_js %}
    <!-- Select2 JS (responsible for awesomeness in this page) -->
    <script src="{% static 'main/js/select2.full.min.js' %}"></script>
    <!-- iCheck for checkboxes and radio inputs -->
    <script src="{% static 'main/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
      //Select2
      $('.select2').select2();
      //iCheck for checkbox and radio inputs
        $('input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
    </script>
{% endblock %}