{% extends 'base.html' %}
{% load staticfiles %}
{% load main_extras %}
{% block title %} {{polling_station.name}} {% endblock %}
{% block main_page_title %} {{polling_station.name}} {% endblock %}
{% block main_page %}
 <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Total Voters</span>
                  <span class="info-box-number">{{ polling_station.total_voters }} </span>
                  <!-- <span class="info-box-number">{{ received_evm }} <small>Online</small></span> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-android-done-all"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Current Voters</span>
                  <span class="info-box-number">{% current_voters polling_station %}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Vote %age</span>
                  <span class="info-box-number">{% current_vote_percentage polling_station %}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Presiding Officer</span>
                  <span class="info-box-number">{{officer.full_name}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Polling Station Status</h3>
                    </div><!-- /.box-header -->
                    <div  class="box-body table-responsive">
                    <table id="psimages" class="table table-bordered table-striped">
        
                            <thead>
                                <tr>
                                    <th>Image(s)</th>                                   
                                    <th>Timestamp</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for ps in  ps_images %}
                                <tr>
                                    <td> <a href = "{{ MEDIA_URL }}{{ps.image}}" target="_blank">View Image</a></td>
                                    <!-- <td> <img src = {ps.i mage}}></td> -->
                                    <!-- <td> <img src = {ps.image}}></td> -->
                                    <td>{{ps.timestamp}}</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div><!-- /.box-body -->
                </div>
	</div>
  <div class="col-sm-6">
    <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Polling Station Status</h3>
                    </div><!-- /.box-header -->
                    <div  class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Polling Station</th>                                   
                                    <th>Total Voters</th>
                                    <th>Current Voters</th>
                                    <th>Percentage</th>
                                    <th>Reported Time</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                            	{% for k in  poll_updates %}
                                <tr>
                                    <td>{{k.polling_station.name}}</td>
                                    <td>{{k.polling_station.total_voters}}</td>
                                    <td>{{k.current_votes}}</td>
                                    <td>{% get_percentage k.polling_station.total_voters k.current_votes %}</td>
                                    <td>{{k.timestamp|time:"h A"}}</td>
	
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Polling Station</th>                                   
                                    <th>Total Voters</th>
                                    <th>Current Voters</th>
                                    <th>Percentage</th>
                                    <th>Reported Time</th>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div><!-- /.box-body -->
                </div>
	</div>
	</div>
{% endblock %}

{% block page_js %}
    <script type="text/javascript">
    	$(document).ready(function() {
                $("#psimages").DataTable();
                $("#example2").DataTable();
        });
    </script>
{% endblock %}
