{% extends 'base.html' %}
{% load staticfiles %}
{% load main_extras %}
{% block title %} Dashboard {% endblock %}
{% block main_page_title %} Polling Station Details {% endblock %}
{% block main_page %}
<div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">All Polling Station(s)</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                    
                        <table id="example2" class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Total Voters</th>
                                    <th>Latitude</th>
                                    <th>Longtitude</th>
                                    <th>Condition</th>
                                    <!-- <th>Image</th> -->
                                </tr>
                            </thead>

                            <tbody>
                                {% for poll in object_list %}
                            	<tr>
                                    <td>{{ poll.unique_id }}</td>
                                    <td><a href = "{% url 'PollingStationView' ps_id=poll.id %}" >{{ poll.name }}</a></td>
                                    <td>{{ poll.total_voters }}</td>
                                    <td>{{ poll.latitude }}</td>
                                    <td>{{ poll.longitude }}</td>
                                    <td>{% if poll.condition %}
                                    		{{ poll.get_condition_display }}
                                    	{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->

{% endblock %}

{% block page_js %}
    <script type="text/javascript">
    	$(document).ready(function() {
                $("#example2").DataTable();
        });
    </script>
{% endblock %}