{% extends 'base.html' %}
{% load staticfiles %}
{% load main_extras %}
{% block title %} {{polling_station.name}} {% endblock %}
{% block main_page_title %} {{polling_station.name}} {% endblock %}
{% block main_page %}
 <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-android-person"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Name</span>
                  <span class="info-box-number">{{ presiding_officer.full_name }} </span>
                  <!-- <span class="info-box-number">{{ received_evm }} <small>Online</small></span> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="ion ion-android-phone-portrait"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Mobile</span>
                 
                  <span class="info-box-number">{{ presiding_officer.mobile }}</span>
                  
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-log-in"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Last Login</span>
                  <span class="info-box-number">{{ presiding_officer.last_login }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-log-out"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Last Logout</span>
                  <span class="info-box-number">{{presiding_officer.last_logout}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
</div>

  <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Presiding Officer Status</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>EVM</th>
                                    <th>Polling Station</th>
                                    <th>Vote %age</th>
                                    <th>Received EVM</th>
                                    <th>Reached Polling Station</th>
                                    <th>Completed Mock Poll</th>
                                    <th>Poll Started</th>
                                    <th>Poll Ended</th>
                                    <th>Reached Strong Room</th>
                                    <th>Submitted EVM</th>
                                    <th>Received Release</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{presiding_officer.username}}</td>
                                    <td><a href = "{% url 'PollingStationView' ps_id=presiding_officer.polling_station.id %}" >{{presiding_officer.polling_station.name}}</a></td>
                                    <td>{% current_vote_percentage presiding_officer.polling_station %}%</td>
									{% if po_status.received_evm %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok " style = "color:green; vertical-align:middle" ></span><br>{{po_status.received_evm_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}
									{% if po_status.reached_polling_station %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{po_status.reached_polling_station_timestamp}}</span></td>
									{% else %}
										<td></td>
									{% endif %}


									{% if po_status.mock_poll_ends %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{po_status.mock_poll_ends_timestamp }}</td>
									{% else %}
										<td></td>
									{% endif %}



									{% if po_status.poll_starts %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{po_status.poll_starts_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}

									{% if po_status.poll_ends %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{po_status.poll_ends_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}


									{% if po_status.reached_dc %}
									<td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{po_status.reached_dc_timestamp}}</td>
									{% else %}
										<td></td>
									{% endif %}

                                      {% if po_status.sealed_evm %}
                                      <td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{po_status.sealed_evm_timestamp}}</td>
                                      {% else %}
                                        <td></td>
                                      {% endif %}

                                      {% if po_status.received_release %}
                                      <td style="text-align : center"> <span class ="glyphicon glyphicon-ok" style = "color:green" ></span><br>{{po_status.received_release_timestamp}}</td>
                                      {% else %}
                                        <td></td>
                                      {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>


       <div class="row">
        <div class=" col-xs-offset-2 col-xs-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Location(s) of Presiding Officer</h3>
                    </div><!-- /.box-header -->
                    <div id="map" class="box-body table-responsive" style="height:500px;">
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
         </div>
      </div>


{% endblock %}

{% block page_js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAteM4P82ZpVfZHUA-greFhVVphVI9UcI0&signed_in=true"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
                $("#example1").DataTable();
        });
    var map;
        var infowindow;
        var locations = {};
        var i = 0;
        var loc_size;
            var a = {% get_current_location presiding_officer %};
            if(a[0] != 0.0 && a[1] != 0.0){
                var title = '{{presiding_officer.full_name}} ({{presiding_officer.polling_station.name}})';
                var contentString = '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h3 id="firstHeading" class="firstHeading">{{presiding_officer.polling_station.name}}</h3>'+
                    '<div id="bodyContent">'+
                    '<p><b>Presiding Officer : </b> {{presiding_officer.full_name}}' +
                    '<br/><b>Total Voters : </b> {{presiding_officer.polling_station.total_voters}}' +
                    '<br/><b>Current Voters : </b> {% current_voters presiding_officer.polling_station %}' +
                    '<br/><b>Current Voting %age : </b> {% current_vote_percentage presiding_officer.polling_station %}' +
                    '</p>'+
                    '</div>'+
                    '</div>';

                locations[i] = [title, contentString, a[0], a[1], i]
                i++;
            }
        loc_size = i;
        var origin = new google.maps.LatLng(locations[0][2], locations[0][3]);

        function initMap(){
            var mapOptions = {
                zoom: 10,
                center: origin
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            infowindow = new google.maps.InfoWindow();
            for(i=0; i<loc_size; i++){
                var position = {lat: locations[i][2], lng: locations[i][3]};
                var title = locations[i][0];
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: title
                });
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(locations[i][1]);
                        infowindow.setOptions({maxWidth: 200});
                        infowindow.open(map, marker);
                    }
                }) (marker, i));
            }
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
{% endblock %}