<ul class="sidebar-menu">
    <li class="header">MENU</li>
    <li {% if page == "/home/" %} class="active" {% endif %}>
        <a href="/home/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
    </li>
    <li {% if parent == 'messages' %} class="treeview active" {% else %} class="treeview" {% endif %}>
        <a href="#"><i class="fa fa-envelope"></i> <span>Message Center</span> <i class="fa fa-angle-left pull-right"></i></a></a>
         <ul class="treeview-menu">>
            <li {% if page == "/messages/inbox/" %} class="active" {% endif %} >
                <a href="/messages/inbox/"><i class="fa fa-inbox"></i> <span>Inbox</span></a>
            </li>
            <li {% if page == "/messages/compose/" %} class="active" {% endif %} >
                <a href="/messages/compose/"><i class="fa fa-pencil"></i> <span>Compose</span></a>
            </li>
            <li {% if page == "/messages/sent/" %} class="active" {% endif %} >
                <a href="/messages/sent/"><i class="fa fa-envelope-o"></i> <span>Sent</span></a>
            </li>
         </ul>
    </li>
    <li {% if page == 'polling_station' %} class=" treeview active" {% else %} class="treeview" {% endif %}>
        <a href="#"><i class="fa fa-archive"></i> <span>Polling Stations</span><i class = "fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li {% if page = "#" %} class = "active" {% endif%} >
                <a href= "/polling-station/view"><i class="fa fa-eye"></i><span>View</span></a>
            
        </ul>
    </li>
    <li {% if page == "/presiding-officers/" %} class="active" {% endif %}>
        <a href="/presiding-officers/"><i class="fa fa-group"></i> <span>Presiding Officers</span></a>
    </li>
    <li {% if page == "/analytics/" %} class="active" {% endif %}>
        <a href="/analytics/"><i class="fa fa-pie-chart"></i> <span>Analytics</span></a>
    </li>
    <li {% if page == "/documentation/" %} class="active" {% endif %}>
        <a href="/documentation/"><i class="fa fa-book"></i> <span>Documentation</span></a>
    </li>
    <li>
        <a href="/signout/"><i class="fa fa-external-link"></i> <span>Sign Out</span></a>
    </li>
</ul><!-- /.sidebar-menu -->